.task-container {
  background-color: var(--lighter-gray);
  padding: 0.5rem 0.5rem 0.25rem;
  border: solid 1px;
  border-radius: 5px;
  max-width: 1000px;
}

.task-row {
  justify-content: space-between;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .filled {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  border: solid 1px black;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .filled {
  background-color: var(--lighter-gray);
  border: 2px solid var(--lighter-gray);
}

.custom-checkbox input[type="checkbox"]:checked + .filled::after {
  display: block;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.trashImg:hover,
.noteImg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.task-details-row {
  margin-left: 40px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task-details-row p {
  font-size: 0.85rem;

  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.task-details-row img {
  display: inline-block;
  height: 18px;
}

.task-completed {
  background-color: var(--dark-gray);
  color: var(--lightest-gray);
  border: var(--lightest-gray);
}

.task-completed h4,
.task-completed p {
  text-decoration: line-through;
}

.task-completed .task-details-row,
.task-completed .highPrioImg,
.task-completed .medPrioImg {
  display: none;
}
