.task-container {
  background-color: var(--lighter-gray);
  padding: 0.5rem 0.5rem 0.25rem;
  border: solid 1px;
  border-radius: 5px;
  max-width: 1000px;
}

.task-row {
  justify-content: space-between;
}

.toggle-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.toggle-btn:hover {
  cursor: pointer;
}

.trashImg:hover,
.noteImg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.trashImg,
.pencilImg {
  pointer-events: none;
}

.trash-btn,
.pencil-btn {
  cursor: pointer;
}

.pencil-btn {
  margin-right: 0.5rem;
}

.task-details-row {
  margin-left: 40px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task-details-row p {
  font-size: 0.85rem;

  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.task-details-row img {
  display: inline-block;
  height: 18px;
}

.task-completed {
  background-color: var(--dark-gray);
  color: var(--lightest-gray);
  border: var(--lightest-gray);
}

.task-completed h4,
.task-completed p {
  text-decoration: line-through;
}

.task-completed .task-details-row,
.task-completed .PrioImg
{
  display: none;
}
