:root {
  --lightest-gray: rgb(236, 236, 236);
  --lighter-gray: rgb(218, 218, 218);
  --light-gray: rgb(197, 197, 197);
  --dark-gray: rgb(59, 59, 59);
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.body-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  height: 25px;
}

hr {
  margin-block: 1rem;
}

/* Utility */

.flow > * + * {
  margin-top: 1rem;
}

.flex-row {
  display: flex;
  gap: 0.5rem;
}

.hidden {
  display: none !important;
}

/* Header */

header {
  padding: 1rem;
  background-color: var(--dark-gray);
  color: white;

  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

#logoImg {
  height: 70px;
  border: solid 1px;
  border-radius: 10px;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

/* Main */

main {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.sidebar {
  padding: 1.5rem 1rem;
  background-color: var(--lighter-gray);
}

.sidebar h3 {
  margin: 1rem;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.button-group button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;

  border: none;
  background-color: inherit;
}

.button-group button:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

#new-project-container {
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

#new-project-container button {
  padding: 0;
}

#new-project-container input {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 100%;
}

.content {
  padding: 1.5rem 2.5rem;
  background-color: var(--lightest-gray);
}

.task-container {
  background-color: var(--lighter-gray);
  padding: 0.5rem 0.5rem 0.25rem;
  border: solid 1px;
  border-radius: 5px;
  max-width: 1000px;
}

.task-row {
  justify-content: space-between;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .filled {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  border: solid 1px black;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .filled {
  background-color: var(--lighter-gray);
  border: 2px solid var(--lighter-gray);
}

.custom-checkbox input[type="checkbox"]:checked + .filled::after {
  display: block;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

h4 {
  font-size: 1.15rem;
}

.trashImg:hover,
.noteImg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.task-details-row {
  margin-left: 40px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task-details-row p {
  font-size: 0.85rem;
  
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.task-details-row img {
  display: inline-block;
  height: 18px;
}

.task-completed {
  background-color: var(--dark-gray);
  color: var(--lightest-gray);
  border: var(--lightest-gray);
}

.task-completed h4,
.task-completed p {
  text-decoration: line-through;
}

.task-completed .task-details-row,
.task-completed .highPrioImg,
.task-completed .medPrioImg {
  display: none;
}

/* Footer */

footer {
  padding: 1rem;
  background-color: var(--dark-gray);
  color: white;
  text-align: center;
}

/* Dialogs */

dialog {
  margin: auto;
  padding: 2rem 3rem;
  border: 0;
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
  background-color: var(--lightest-gray);
}

#add-task-form,
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  gap: 0.25rem;
}

.form-btns {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

label {
  font-weight: bold;
}

dialog input,
textarea {
  border: 0;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}

textarea {
  padding: 0.5rem;
}

.form-btns button {
  flex: 1;
  width: 50%;

  padding: 0.25rem;
  border-radius: 5px;

  border: 1px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  cursor: pointer;
}

.form-btns button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
}

.cancel-btn {
  background-color: #fecaca;
}

.submit-btn {
  background-color: #bbf7d0;
}
