.flow > * + * {
  margin-top: 1rem;
}

.flex-row {
  display: flex;
  gap: 0.5rem;
}

.flex-center {
  justify-content: center;
}

.hidden {
  display: none !important;
}

.cancel-btn {
  background-color: #fecaca;
}

.submit-btn {
  background-color: #bbf7d0;
}

.mw-c {
  max-width: 350px;
  text-align: center;
}